.careerPath-main-second-section {
    /* border-top: 1px solid #000; */
    width: 100%;
    height: 100vh;
}
.careerPath-sub {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: row;
}
.careerPath-description {
    width: 50%;
    /* border: 1px solid #000; */
}
.careerPath-images {
    width: 50%;
    height: 52vh;
    /* border: 1px solid #000; */
    /* background-image: url("../../images/01_Pondit_Homepage-path-line.png"); */
    background-repeat: no-repeat;
    background-position: right center;
    object-fit: cover;
    position: relative;
    top: 140px;
}
.careerPath-main-title {
    font-weight: 400;
    color: #0288d1;
}

.careerPath-Line1 {
    position: relative;
    bottom: 0px;
}

.careerPath-footPrint {
    position: relative;
    bottom: 400px;
    width: 600px;
}

.careerPath-Man {
    position: relative;
    bottom: 450px;
    /* left: 120px; */
    right: 450px;
}
@media only screen and (max-width: 1834px) {
    .careerPath-Line1 {
        position: relative;
        bottom: 50px;
    }
}
@media only screen and (max-width: 1399px) {
    .careerPath-footPrint {
        position: relative;
        bottom: 400px;
        width: 510px;
    }
    .careerPath-Man {
        position: relative;
        bottom: 450px;
        right: 400px;
    }
}
@media only screen and (max-width: 1381px) {
    .careerPath-footPrint {
        position: relative;
        bottom: 400px;
        width: 500px;
    }
    .careerPath-Man {
        position: relative;
        bottom: 450px;
        right: 400px;
    }
}
@media only screen and (max-width: 1365px) {
    .careerPath-main-second-section {
        position: relative;
        bottom: 200px;
    }
}
@media only screen and (max-width: 1200px) {
    .careerPath-Man {
        position: relative;
        bottom: 50px;
        right: 400px;
    }
    .careerPath-footPrint {
        position: relative;
        bottom: 00px;
        width: 500px;
    }
    .careerPath-Line1 {
        display: none;
    }
}
@media only screen and (max-width: 1199px) {
    .careerPath-Man {
        position: relative;
        bottom: 230px;
        right: -100px;
    }
    .careerPath-footPrint {
        position: relative;
        bottom: 00px;
        width: 500px;
    }
    .careerPath-Line1 {
        display: none;
    }
}
@media only screen and (max-width: 1171px) {
    .careerPath-Man {
        position: relative;
        bottom: 180px;
        right: -100px;
        width: 40px;
    }
    .careerPath-footPrint {
        position: relative;
        bottom: -30px;
        width: 500px;
    }
    .careerPath-Line1 {
        display: none;
    }
}
@media only screen and (max-width: 984px) {
    /* .careerPath-Man {
        position: relative;
        bottom: 180px;
        right: -100px;
        width: 40px;
    } */
    .careerPath-footPrint {
        position: relative;
        bottom: -30px;
        width: 440px;
    }
    .careerPath-Line1 {
        display: none;
    }
}
@media only screen and (max-width: 920px) {
    .careerPath-Man {
        display: none;
    }
    .careerPath-footPrint {
        display: none;
    }
    .careerPath-Line1 {
        display: none;
    }
    .careerPath-description {
        width: 8500%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 654px) {
    .careerPath-main-second-section {
        /* border-top: 1px solid #000; */
        width: 100%;
        height: 100vh;
        position: relative;
        top: -60px;
    }
}
@media only screen and (max-width: 635px) {
    .careerPath-main-second-section {
        /* border-top: 1px solid #000; */
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .careerPath-description {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .careerPath-images {
        display: none;
    }
    .careerPath-main-title {
        text-align: center;
    }
}
