.main-header {
    width: 100%;
    height: 92vh;
    /* border: 1px solid #000; */
    position: relative;
    bottom: 150px;
    /* background-image: url("../../images/01_Pondit_Homepage_Updated_homePage.png"); */
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
}
.homepage-main-image {
    width: 100%;
    height: 91.5vh;
    position: relative;
    top: 125px;
}
.career-path {
    position: relative;
    bottom: 550px;
    left: 410px;
}
.assess-self {
    position: relative;
    bottom: 770px;
    left: 800px;
}
.skills {
    position: relative;
    bottom: 330px;
    left: 940px;
}
.grow {
    position: relative;
    bottom: 550px;
    left: 1270px;
}
.phone-Main-Header {
    /* border: 1px solid #000; */
    width: 100%;
    height: 100vh;
}
.phone-yellow-image {
    margin-left: 50px;
    margin-top: 50px;
}
.phone-sub-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.phone-sub {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/01_Pondit_Homepage_skill_bg.png");
    /* background-repeat: no-repeat; */
    background-position: center;
    object-fit: cover;
    /* border: 1px solid #000; */
}

@media screen and (max-width: 1850px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 400px;
        line-height: 10px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 780px;
        line-height: 10px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 900px;
        line-height: 13px;
    }
    .grow {
        position: relative;
        bottom: 320px;
        left: 1220px;
        line-height: 10px;
    }
}
@media screen and (max-width: 1750px) {
    .career-path {
        position: relative;
        bottom: 400px;
        left: 370px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 730px;
    }
    .skills {
        position: relative;
        bottom: 170px;
        left: 830px;
    }
    .grow {
        position: relative;
        bottom: 320px;
        left: 1130px;
    }
}
@media screen and (max-width: 1650px) {
    .career-path {
        position: relative;
        bottom: 400px;
        left: 350px;
    }
    .assess-self {
        position: relative;
        bottom: 540px;
        left: 690px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 780px;
    }
    .grow {
        position: relative;
        bottom: 320px;
        left: 1070px;
    }
}
@media screen and (max-width: 1550px) {
    .career-path {
        position: relative;
        bottom: 400px;
        left: 320px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 640px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 720px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 980px;
    }
}
@media screen and (max-width: 1450px) {
    .career-path {
        position: relative;
        bottom: 400px;
        left: 310px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 610px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 660px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 920px;
    }
}
@media screen and (max-width: 1366px) {
    .career-path {
        position: relative;
        bottom: 430px;
        left: 290px;
    }
    .assess-self {
        position: relative;
        bottom: 580px;
        left: 570px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 610px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 850px;
    }
}
@media screen and (max-width: 1300px) {
    .career-path {
        position: relative;
        bottom: 400px;
        left: 280px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 550px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 580px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 800px;
    }
}
@media screen and (max-width: 1200px) {
    .career-path {
        position: relative;
        bottom: 460px;
        left: 280px;
    }
    .assess-self {
        position: relative;
        bottom: 590px;
        left: 500px;
    }
    .skills {
        position: relative;
        bottom: 280px;
        left: 520px;
    }
    .grow {
        position: relative;
        bottom: 440px;
        left: 740px;
    }
}
@media screen and (max-width: 1200px) {
    .career-path {
        position: relative;
        bottom: 400px;
        left: 210px;
    }
    .assess-self {
        position: relative;
        bottom: 590px;
        left: 420px;
    }
    .skills {
        position: relative;
        bottom: 280px;
        left: 410px;
    }
    .grow {
        position: relative;
        bottom: 440px;
        left: 790px;
    }
}

/* @media only screen and (max-width: 1366px) {
    .main-header {
        width: 100%;
        height: 120vh;
        overflow: hidden;
    }
} */
@media only screen and (max-width: 965px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 210px;
        line-height: 10px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 410px;
        line-height: 10px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 400px;
        line-height: 10px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 770px;
        line-height: 10px;
    }
}
@media only screen and (max-width: 930px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 200px;
        line-height: 10px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 390px;
        line-height: 10px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 370px;
        line-height: 10px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 740px;
        line-height: 10px;
    }
}
@media only screen and (max-width: 890px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 190px;
        line-height: 10px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 375px;
        line-height: 10px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 350px;
        line-height: 10px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 700px;
        line-height: 10px;
    }
}
@media only screen and (max-width: 890px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 180px;
        line-height: 10px;
        font-size: 15px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 355px;
        line-height: 10px;
        font-size: 15px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 330px;
        line-height: 10px;
        font-size: 15px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 660px;
        line-height: 10px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 800px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 170px;
        line-height: 10px;
        font-size: 14px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 335px;
        line-height: 10px;
        font-size: 14px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 320px;
        line-height: 10px;
        font-size: 14px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 630px;
        line-height: 10px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 750px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 160px;
        line-height: 10px;
        font-size: 13px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 315px;
        line-height: 10px;
        font-size: 13px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 300px;
        line-height: 10px;
        font-size: 13px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 590px;
        line-height: 10px;
        font-size: 13px;
    }
}
@media only screen and (max-width: 700px) {
    .career-path {
        position: relative;
        bottom: 390px;
        left: 150px;
        line-height: 10px;
        font-size: 12px;
    }
    .assess-self {
        position: relative;
        bottom: 530px;
        left: 290px;
        line-height: 10px;
        font-size: 12px;
    }
    .skills {
        position: relative;
        bottom: 180px;
        left: 280px;
        line-height: 10px;
        font-size: 12px;
    }
    .grow {
        position: relative;
        bottom: 310px;
        left: 550px;
        line-height: 10px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 559px) {
    .main-header {
        overflow: hidden;
    }
    .sub-main-header {
        display: none;
    }
    .homepage-main-image {
        overflow: hidden;
    }
}
@media only screen and (max-width: 450px) {
    .sub-main-header {
        display: none;
    }
}
